{% block footer %}
    <!-- Использованы классы бустрапа: -->
    <!-- border-top: создаёт тонкую линию сверху блока -->
    <!-- text-center: выравнивает текстовые блоки внутри блока по центру -->
    <!-- py-3: контент внутри размещается с отступом сверху и снизу -->       
    <footer class="border-top text-center py-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}"
          href="{% url 'about:author' %}"
          >Об авторе</a>
        </li>
        <li class="nav-item {% if view_name  == 'about:tech' %}active{% endif %}">
          <a class="nav-link"
          href="{% url 'about:tech' %}">
          Технологии</a>
        </li>
      </ul>
      <!-- тег span используется для добавления нужных стилей отдельным участкам текста --> 
      <p>© {{ year }} Copyright <span style="color:violet">Ya</span><span style="color:green">tube</span>  
    </footer>
{% endblock footer %}
