{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load static %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        VS Code
      </li>
      <li class="list-group-item">
        Git, Github
      </li>
      <li class="list-group-item">
        Bash
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Для создания этого сайта я использовал VS Code с фреймворком Django. 
      Мне помогли полученные навыки в области объектно-ориентированного программирования, 
      навыки работы с командной строкой, и навыки правильного поиска дополнительной информации в сети.
      Трудно определить, что далось легко, а что наоборот. Думаю для меня, как для начинающего программиста 
      тяжело далось … всё.</p><p>Но всё это с безумным интересом.</p>
  </article>
  <div><img src="{%static 'img/python.jpg' %}" alt="Здесь должна быть картинка" sizes="
    (max-width: 10em) 30vw,
    (max-heith: 20em) 30vw">
  </div>
</div>
{% endblock %}
