{% extends 'base.html' %}

{% block title %}
Отслеживаемые посты
{% endblock title %}

{% block content %}
<div class="container py-3">
  {% include 'posts/includes/switcher.html' with follow=True %}
  <h1>Список отслеживаемых записей</h1>
  {% if page_obj %}
    {% for post in page_obj %}
    {% include 'posts/posts_view.html' %}
    <a class="btn btn-primary" style="background-color: seagreen" 
        href="{% url 'posts:post_detail' post.id %}">
        Подробная информация</a>
    {% if post.group.slug %}
      <a class="btn btn-primary" style="background-color: seagreen"
      href="{% url 'posts:group_list' post.group.slug %}">
      Все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
  {% else %}
    <p>Здесь будут отображаться записи авторов, на которых вы подписаны.</p>
  {% endif %}
</div>
{% endblock %}
