{% extends 'base.html' %}
{% block title %}
Записи сообщества "{{ group.title }}"
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>{{ group.title }}</h1>
    <p>
      {{ group.description|linebreaks }}
    </p>
    {% for post in posts %}
      {% include 'posts/posts_view.html' %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% endblock %}
{% block footer %}
<footer class="page-footer font-small blue border-top">
  <div class="footer-copyright text-center py-3">© {{ year }} Copyright 
    <span style="color:violet">Ya</span><span style="color:green">tube</span>
  </div>    
</footer>
{% endblock %}
