{% extends "base.html" %}
{% block title %}
Профайл пользователя {{ author.get_full_name }}
{% endblock %}
{% block content %}
<main>
  <div class="container py-5">        
    <h1>Все посты пользователя {{ author.get_full_name }}</h1>
    <h3>Всего постов: {{ author.posts.all.count }} </h3>   
    <article>
      <ul>
        <li>
          Автор: {{ author.get_full_name }}
          <a href="{{% url 'posts:profile' post.author %}}">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </li>
      </ul>
      <p>
      {{ post.text|linebreaksbr }}
      </p>
      <a href="<!-- -->">подробная информация </a>
    </article>       
    <a href="<!-- -->">все записи группы</a>        
    <hr>
    <!-- Остальные посты. после последнего нет черты -->
    <!-- Здесь подключён паджинатор -->  
  </div>
{% endblock content %}
