{% extends "base.html" %}
{% block title %}
Редактировать пост
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Редактировать пост
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.required %}
                  <span class="required text-danger">*</span>
                {% endif %}
                {% if field.name == 'image' and field.value %}
                  <br>На данный момент: 
                  <a href="{{ form.instance.image.url }}">
                    {{ form.instance }}
                  </a>
                  <br>
                  <input type="checkbox" name="image-clear" id="image-clear_id">
                  <label for="image-clear_id">Удалить изображение</label>
                  <br>
                  Изменить изображение:
                  <br>
                {% endif %}
                {{ field }}
                <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                <p>{{ field.help_text }}</p>
                </small>
              </label>
            </div>
            {% endfor %}
            <div>
              {% if form.instance.group %}
              <a href="{% url 'posts:group_list' form.instance.group.slug %}">
                все записи группы</a>
              {% endif %}
            </div>
            <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% comment %}
{% if field.label == 'image' %}
                  <label for="{{ form.image.id_for_label }}">
                    <span class="required text-danger">*</span>
                    Изображение
                  </label>
                  На данный момент: 
                  <a href="{{ form.image.url }}">
                    {{ form.image.url }}
                  </a>
                  <input type="checkbox" name="image-clear" id="image-clear_id">
                  <label for="image-clear_id">
                    Очистить</label><br>
                    Изменить:
                    {{ form.image }}
              {% endif %}
{% if form.instance.image %}
                    <a href="{{ form.instance.image.url }}" target="_blank">
                      На данный момент: {{ form.instance.image.url }}
                    </a>
{% endcomment %}
